{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "projectile",
          "type" : "orbitalup",
          "offsetRange" : [-20, -20, 20, 20],
          "config" : {
            "timeToLive" : 0,
            "speed" : 0,
            "actionOnReap" : [
              {
                "action" : "config",
                "file" : "/projectiles/explosions/regularexplosion2/regularexplosionknockback.config"
              }
            ]
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "sound",
          "options" : ["/sfx/unsorted/mor_nuclear_explosion.ogg"]
        }
      ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 30,
      "backgroundRadius" : 25,
      "explosiveDamageAmount" : 9999,
      "delaySteps" : 2
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 30,
      "backgroundRadius" : 25,
      "explosiveDamageAmount" : 9999,
      "delaySteps" : 20
    },
    {
      "action" : "projectile",
      "type" : "mor_nuclearfireball"
    },
    {
      "action" : "projectile",
      "type" : "mor_mushroomcloud",
      "direction" : [0, 1]
    },
    {
      "action" : "projectile",
      "type" : "mor_nuclearshockwave",
      "direction" : [-1, 0],
      "config" : {
        "broadcastArea" : [0, -64, 64, 64]
      }
    },
    {
      "action" : "projectile",
      "type" : "mor_nuclearshockwave",
      "direction" : [1, 0],
      "config" : {
        "broadcastArea" : [-64, -64, 0, 64]
      }
    }
  ]
}
